<footer class="page-footer pt-footer">
  <div class="container">
    <div class="row">
      <ul>
        <section class="col l7 s12">
          <li>
            <a class="pt-footer__link" href="#!" title="#!">
              {{t 'components.footer.template.addCompanyQuestion'}}
            </a>
          </li>
          <li>
            <a class="pt-footer__link" href="#!" title="#!">
              {{t 'components.footer.template.addEventQuestion'}}
            </a>
          </li>
        </section>
        <section class="col l3 s12">
          <li>
            <a class="pt-footer__link" href="#!" title="#!">
              {{t 'components.footer.template.contactUs'}}
            </a>
          </li>
          <li>
            <a class="pt-footer__link" href="#!" title="#!">
              {{t 'components.footer.template.aboutProject'}}
            </a>
          </li>
        </section>
        <section class="col l2 s12">
          <li>
            <a class="pt-footer__link" href="#!" title="#!">
              {{t 'components.footer.template.twitter'}}
            </a>
          </li>
          <li>
            <a class="pt-footer__link" href="#!" title="#!">
              {{t 'components.footer.template.facebook'}}
            </a>
          </li>
          <li>
            <a class="pt-footer__link" href="#!" title="#!">
              {{t 'components.footer.template.instagram'}}
            </a>
          </li>
        </section>
      </ul>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Paparajotech
    </div>
  </div>
</footer>
