<section class="container pt-contact">
  <div class="row">
    <div class="col s12">
      <section class="pt-contact__section">
        <h4 id="#pt-about-us">{{t 'contact.template.aboutUs'}}</h4>
        <p>{{t 'contact.template.aboutUsDescription'}}</p>
      </section>

      <section class="pt-contact__section">
        <h4 id="#pt-contact-us">{{t 'contact.template.contactUs'}}</h4>
        <p>{{t 'contact.template.contactUsDescription'}}: <a href="mailto:paparajotech@gmail.com?Subject=Contact">paparajotech@gmail.com</a></p>
      </section>

      <section class="pt-contact__section">
        <h4 id="#pt-add-company">{{t 'contact.template.addCompanyQuestion'}}</h4>
        <p>
          {{t 'contact.template.addCompanyAnswer'}}:
          <a href="https://goo.gl/forms/72L84yxbjR2nCOj53" title="https://goo.gl/forms/72L84yxbjR2nCOj53" target="_blank">
            {{t 'contact.template.addCompany'}}
          </a>
        </p>
      </section>

      <section class="pt-contact__section">
        <h4 id="#pt-add-event">{{t 'contact.template.addEventQuestion'}}</h4>
        <p>{{t 'contact.template.addEventAnswer'}}:
          <a href="https://goo.gl/forms/tPzwRw268mh6PmcZ2" title="https://goo.gl/forms/tPzwRw268mh6PmcZ2" target="_blank">
            {{t 'contact.template.addEvent'}}
          </a>
        </p>
      </section>
    </div>
  </div>
</section>
