<section class="container">
  <div class="row">
    <div class="col s10">
      <h4 id="#pt-about-us">{{t 'contact.template.aboutUs'}}</h4>
      <p>{{t 'contact.template.aboutUsDescription'}}</p>
      <h4 id="#pt-contact-us">{{t 'contact.template.contactUs'}}</h4>
      <p>{{t 'contact.template.contactUsDescription'}}: <a href="#">info@paparajo.tech</a></p>

      <h4 id="#pt-about-us">{{t 'contact.template.addCompanyQuestion'}}</h4>
      <p>{{t 'contact.template.addCompanyAnswer'}}: <a href="#">{{t 'contact.template.addCompany'}}</a></p>
      <h4 id="#pt-about-us">{{t 'contact.template.addEventQuestion'}}</h4>
      <p>{{t 'contact.template.addEventAnswer'}}: <a href="#">{{t 'contact.template.addEvent'}}</a></p>
    </div>
  </div>
</section>
