<div class="paparajotech">
  {{pt-nav-bar on-go-to-index='goToIndex'}}

  <section class="section center">
    {{t 'application.title'}}
    <a href="https://goo.gl/forms/72L84yxbjR2nCOj53" title="https://goo.gl/forms/72L84yxbjR2nCOj53" target="_blank">
      {{t 'components.footer.template.addCompanyQuestion'}}
    </a>
  </section>

  {{outlet}}

  {{pt-footer}}
</div>
