<h6 class="pt-popup__company-name">{{company.name}}</h6>
<section>
  <img class="pt-popup__company-image" src="{{rootURL}}assets/images/companies/{{company.id}}.png" alt="{{company.name}}">
  <p>{{company.description}}</p>
  <a href="{{company.link}}" target="_blank">{{company.name}}</a>
</section>
